################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game-framework/.vs/game-framework/v15
/.vs
/game-framework/game-framework.sln.licenseheader
/game-framework/game-framework.sln
/game-framework/game-framework/game-framework.vcxproj.filters
/game-framework/game-framework/game-framework.vcxproj
/game-framework/.vs/config/applicationhost.config
*.tlog
/Game-Framework/Release
/Game-Framework/Game-Framework/Source/Source.rar
/Game-Framework/Game-Framework/Release
/CppProperties.json
/Game-Framework/Game-Framework-Unit-Tests/Game-Framework-Unit-Tests.vcxproj.filters
/Game-Framework/Game-Framework-Unit-Tests/Game-Framework-Unit-Tests.vcxproj
/SFML-GameFramework/.vs/SFML-GameFramework/v15/ipch
/SFML-GameFramework/.vs/SFML-GameFramework/v15
/SFML-GameFramework/Release
/SFML-GameFramework/SFML-GameFramework/Debug
*.txt
*.ipch
/TicTacToe-SFML/TicTacToe-SFML.sln
/TicTacToe-SFML/TicTacToe-SFML/TicTacToe-SFML.vcxproj.filters
/TicTacToe-SFML/TicTacToe-SFML/TicTacToe-SFML.vcxproj
/TicTacToe-SFML/TicTacToe-SFML/Debug/vc141.idb
/TicTacToe-SFML/.vs/TicTacToe-SFML/v15/Browse.VC.db
*.db
/GameFramework-TicTacToe/Debug/GameFramework-TicTacToe.exe.lastcodeanalysissucceeded
/GameFramework-TicTacToe/GameFramework-TicTacToe/Debug/gameframework-tictactoe.nativecodeanalysis.xml
/GameFramework-TicTacToe/GameFramework-TicTacToe/Debug/GameFramework-TicTacToe.pchast
/GameFramework-TicTacToe/GameFramework-TicTacToe/Debug/vc141.idb
/GameFramework-TicTacToe/GameFramework-TicTacToe/Debug/vc.nativecodeanalysis.all.xml
/GameFramework-TicTacToe/GameFramework-TicTacToe/Debug/pch.nativecodeanalysis.xml
/GameFramework-TicTacToe
/Logger/Logger/targetver.h
/Logger/Logger/stdafx.cpp
/Logger/Logger/Logger.vcxproj.filters
/Logger/Logger/Logger.vcxproj
/Logger/Logger/Logger.cpp
/Logger/Logger/Debug
/Logger/Logger.sln
/SFML-GameFramework/SFML-GameFramework/logger.cpp
/SFML-GameFramework/SFML-GameFramework/Headers/logger.h
*.vcxproj
*.filters
*.sln
*.idb
/TicTacToe-SFML/TicTacToe-SFML/Headers/tic-tac-toe-file-manager.h
*.opendb
